@import "../../../../styles/global.scss";
.popover {
  width: 600px;
  height: 480px;
  background: $--white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: $--card-radius;
}
.popoverInner {
  max-width: 300px;
  h4 {
    @include h4;
  }
  p {
    @include p;
  }
}
